html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
em,
button,
blockquote {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th,
ul,
ol {
  padding: 0;
}

img {
  border: 0;
  vertical-align: bottom;
}
img[src=""],
img:not([src]) {
  opacity: 0;
}

em,
b {
  font-style: normal;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

i {
  font-style: normal;
}

button,
input,
select,
textarea {
  outline: none;
  font-family: "Microsoft Yahei";
  -webkit-appearance: none;
  appearance: none;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
  /*transform: translateY(-50%)!important;*/
}

/* link */

a {
  color: #666;
  text-decoration: none;
  font-size: 0.18rem;
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}
a:focus,
input:focus,
textarea:focus,
p:focus,
div:focus {
  -webkit-tap-highlight-color: transparent;
  /*-webkit-user-modify:read-write-plaintext-only;*/
}
a:hover {
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/*foot*/

#afooter {
  background: #000;
  padding: 0.2rem 0;
}

.foot {
  width: 100%;
}

.foot p {
  font-size: 0.18rem;
  color: #666;
  text-align: center;
}

input::-webkit-input-placeholder {
  color: #e3ecf5;
}
input::-moz-input-placeholder {
  color: #e3ecf5;
}
input::-ms-input-placeholder {
  color: #e3ecf5;
}
iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

img[src=""],
img:not([src]) {
  opacity: 0;
}

[v-cloak] {
  display: none;
}
#_overlay_ {
  height: 100% !important;
  position: fixed !important;
}
#amsmobi_loading img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap {
  width: 100%;
  /* min-height:14.96rem; */
  position: relative;
}
.wrap * {
  box-sizing: border-box;
}
